@use "assets/scss/colors";
@use "assets/scss/breackpoints";

.no-articles {
  text-align: center;
}

.article-group {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  @media screen and (max-width: breackpoints.$lg) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (max-width: breackpoints.$sm) {
    grid-template-columns: 1fr;
  }
}
