@use "assets/scss/colors";

.articles-table {
  border: 1px solid rgb(226, 226, 226);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 1px 3px rgba(32, 32, 32, 0.1),
    0px 5px 10px rgba(36, 36, 36, 0.06);
  position: relative;
  overflow-x: auto;
  .articles-table {
    width: 100%;
    border-collapse: collapse;
    thead {
      background-color: #f9fafb;
      border-bottom: 1px solid #e9ecef;
      tr {
        th {
          padding: 0.5rem;
          text-align: left;
          text-transform: uppercase;
          color: #6b7280;
          font-weight: 600;
          font-size: 0.75rem;
        }
      }
    }
    tbody {
      tr {
        background-color: darken(colors.$white, 4);
        transition: background-color 0.15s ease-in-out;
        &:nth-child(odd) {
          background-color: colors.$white;
        }
        &:hover {
          background-color: darken(colors.$white, 5);
        }
        td {
          padding: 0.5rem;
          font-size: 0.8rem;
          color: colors.$secondaryColor;
          font-weight: 300;
          button {
            background: none;
            border: none;
            font-weight: 700;
            &.btn-edit {
              color: colors.$success;
              margin-right: 0.3rem;
            }
            &.btn-delete {
              color: colors.$error;
            }
            &:disabled {
              color: darken(colors.$white, 35);
              cursor: not-allowed;
            }
          }
        }
      }
    }
    .no-post {
      text-align: center;
    }
  }
  &.loading {
    animation: loading 2s ease-in-out infinite alternate;
    &::before {
      content: "";
      position: absolute;
      top: 0.2rem;
      right: 0.2rem;
      border: 4px solid #cccccc;
      border-top: 4px solid lighten(colors.$primaryColor, $amount: 20);
      border-radius: 50%;
      width: 20px;
      height: 20px;
      animation: spin 2s linear infinite;
      z-index: 9;
    }
  }
}
@keyframes loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
