@use "assets/scss/colors";

.paginate {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
  border-top: 1px solid lighten(colors.$primaryTextColor, 55);
  padding-top: 0.5rem;
  font-size: 0.8rem;
  color: colors.$primaryTextColor;
  &__prev,
  &__next {
    user-select: none;
    img {
      margin: 0 0.3rem;
    }
    &:hover {
      color: darken(colors.$primaryTextColor, 25);
    }
  }
  &__indicator-group {
    display: flex;
    &-number {
      user-select: none;
      padding: 0.2rem 0.5rem;
      &.active {
        color: colors.$primaryColor;
        position: relative;
        &::before {
          content: "";
          width: 100%;
          height: 2px;
          background-color: colors.$primaryColor;
          position: absolute;
          top: calc(-0.5rem - 1px);
          left: 0;
        }
      }
      &:hover {
        color: colors.$primaryColor;
      }
    }
  }
}
