@use "assets/scss/colors";
@use "assets/scss/functions";

.menu-item {
  text-decoration: none;
  padding: 0 0.8rem;
  color: colors.$secondaryTextColor;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  height: 80px;
  display: flex;
  align-items: center;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0px;
    background: functions.gradient(
      $primaryColor: lighten(colors.$primaryColor, 5),
      $secondaryColor: lighten(colors.$secondaryColor, 30),
      $deg: 135deg
    );
    transition: height 0.4s ease-in-out, opacity 0.4s ease-in-out;
  }
  &:hover:not(.active):before {
    opacity: 0.5;
  }
  &:hover::before,
  &.active::before {
    height: 4px;
  }
}
