// Theme
$primaryColor: #2ec497;
$secondaryColor: #2d314d;
$ligthColor: #fafafa;
$semiLigthColor: #f4f5f7;
$success: #84e1a7;
$error: #ff4d56;
$white: #ffff;

//Text Colors
$primaryTextColor: #4f526b;
$secondaryTextColor: #68676c;
$contrastTextColor: #818181;
