@use "assets/scss/colors";
@use "assets/scss/breackpoints";

.latest-articles {
  padding: 4.5rem 0;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    &__title {
      font-weight: 400;
      font-size: 2.3rem;
      color: colors.$primaryTextColor;
    }
    &__button {
      cursor: pointer;
      .button__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      &__icon {
        font-size: 1.5rem;
        margin-right: 0.3rem;
      }
    }
  }
  @media screen and (max-width: breackpoints.$sm) {
    &__header {
      margin-bottom: 2rem;
      &__title {
        font-size: 2rem;
        margin-bottom: 0.5rem;
      }
      &__button {
        &__icon {
          margin-right: unset;
        }
        &__text {
          display: none;
        }
      }
    }
    padding: 1rem 0;
  }
}
