@use "assets/scss/colors";
@use "assets/scss/breackpoints";

.why-choose {
  background-color: colors.$semiLigthColor;
  padding: 4.5rem 0;
  &__title {
    color: colors.$primaryTextColor;
    font-weight: 400;
    font-size: 2.3rem;
    line-height: 3.8rem;
  }
  &__subtitle {
    max-width: 620px;
    margin-bottom: 3rem;
    color: colors.$secondaryTextColor;
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
  &__group {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    @media screen and (max-width: breackpoints.$lg) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: breackpoints.$sm) {
      grid-template-columns: 1fr;
    }
  }
  @media screen and (max-width: breackpoints.$sm) {
    &__title {
      line-height: 2.8rem;
      text-align: center;
    }
    &__subtitle {
      text-align: center;
    }
  }
}
