@use "assets/scss/colors";

.Blog {
  margin-bottom: 2rem;
  &__title {
    padding-top: 2rem;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 2rem;
    color: colors.$primaryTextColor;
    &--secondary {
      margin-bottom: 1rem;
    }
  }
  &__subtitle {
    font-size: 1.1rem;
    font-weight: 400;
    color: colors.$secondaryTextColor;
    margin-bottom: 2.5rem;
  }
}
