@use "assets/scss/colors";

.under-construction {
  text-align: center;
  min-height: calc(100vh - 272px);
  display: grid;
  place-items: center;
  .under-construction-image {
    height: 200px;
  }
  a {
    color: lighten(colors.$primaryColor, 10);
    text-decoration: none;
  }
}
