@use "assets/scss/colors";
.form {
  max-width: 450px;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  border-radius: 41px;
  padding: 3.5rem;
  background-color: colors.$white;
  transition: padding 0.3s ease-in-out;

  &__actions {
    display: flex;
    justify-content: space-between;
  }

  textarea {
    resize: none;
  }

  @media only screen and (max-width: 550px) {
    padding: 2.2rem;
  }

  @media only screen and (max-width: 350px) {
    padding: 2.2rem 1rem 0.5rem 1rem;
  }
}

.field {
  $field: &;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  position: relative;

  &__label {
    font-size: 0.8rem;
    margin-bottom: 0.3rem;
    color: colors.$primaryTextColor;
  }

  &__input {
    border: 1px solid #d1d5db;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    padding: 0.6rem;
    outline: 1px solid transparent;
    transition: outline 0.2s ease-in-out, background-color 0.2s ease-in-out,
      box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    z-index: 9;
    &:focus-visible {
      outline: 1px solid colors.$primaryColor;
    }
  }

  &__error {
    margin-top: 0.2rem;
    font-size: 0.7rem;
    color: colors.$error;
    position: absolute;
    bottom: 0;
    left: 0.65rem;
    transition: bottom 0.3s ease-in-out;
  }

  &--has-error {
    #{$field}__input {
      outline: 2px solid lighten(colors.$error, 12);
      background-color: lighten(colors.$error, 34);
      color: colors.$error;
      box-shadow: 0 0 6px 0px colors.$error;
      animation-name: shake;
      animation-duration: 0.2s;
      animation-iteration-count: 2;
      animation-timing-function: linear;
      // animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    #{$field}__error {
      bottom: -1.2rem;
    }
  }
}
@keyframes shake {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(-3px);
  }
  50% {
    transform: translateX(0px);
  }
  75% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(0px);
  }
}
