@use "assets/scss/colors";
@use "assets/scss/breackpoints";

.navbar {
  height: 80px;
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: fade-out(colors.$white, 0.2);
  backdrop-filter: blur(3px);
  z-index: 9999;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    .only-desktop {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
    }
    .only-mobile {
      display: none;
      .burger-menu {
        &__image {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
  @media screen and (max-width: breackpoints.$md) {
    .container {
      .only-desktop {
        display: none;
      }
      .only-mobile {
        display: flex;
      }
    }
  }
}
