@use "assets/scss/colors";
@use "assets/scss/breackpoints";

.mobile-menu {
  position: fixed;
  top: -100vh;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: colors.$white;
  z-index: 9999;
  transition: top 0.3s ease-in-out;
  &.active {
    top: 0;
  }
  &__header {
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    &-logo img {
      height: 25px;
    }
    &-close img {
      height: 20px;
      margin-right: -3px;
    }
  }
  &__content {
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    &-item {
      padding: 0.5rem 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 0.5rem;
      text-align: center;
      .link {
        display: block;
        font-size: 1.2rem;
        font-weight: 700;
        color: colors.$primaryTextColor;
        text-decoration: none;
        &:hover {
          color: lighten(colors.$primaryColor, 20);
        }
      }
    }
  }
  @media screen and (min-width: breackpoints.$md) {
    &.active {
      top: -100vh;
    }
  }
}
