@use "assets/scss/colors";
@use "assets/scss/variables";
@use "assets/scss/breackpoints";

.hero {
  min-height: calc(100vh - 80px);
  margin: auto 0;
  position: relative;
  &__container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: calc((100vw - variables.$maxWidth) / 2);
    z-index: 999;
    @media screen and (max-width: variables.$maxWidth) {
      left: 12px;
      max-width: calc(100vh - 24px);
    }
  }
  &__logo {
    height: 40px;
    display: none;
    margin-bottom: 1.5rem;
  }
  &__main-text {
    font-size: 2.8rem;
    line-height: 3.3rem;
    color: colors.$primaryTextColor;
    text-shadow: 0 0 1px lighten(colors.$primaryTextColor, 60);
    @media only screen and (max-width: breackpoints.$sm) {
      font-size: 2.2rem;
    }
  }
  &__subtitle {
    font-size: 1.12rem;
    line-height: 1.6rem;
    color: colors.$secondaryTextColor;
    position: relative;
    margin-bottom: 2rem;
  }
  &__bg-desktop {
    position: absolute;
    top: 0;
    right: 0;
    height: 90%;
    transition: all 0.3s ease-in-out;
    z-index: 99;
  }
  &__mockups {
    position: absolute;
    top: 0;
    right: 0;
    height: 115%;
    transition: all 0.3s ease-in-out;
    max-height: 650px;
    z-index: 99;
  }
  @media screen and (min-width: 1000px) and (max-width: 1376px) {
    &__subtitle {
      max-width: 530px;
    }
  }
  @media screen and (min-width: 1012px) and (max-width: 1105px) {
    &__bg-desktop {
      height: 80%;
    }
    &__mockups {
      height: 100%;
    }
  }
  @media screen and (min-width: 1005px) and (max-width: 1012px) {
    &__bg-desktop {
      height: 80%;
    }
    &__mockups {
      height: 90%;
    }
  }
  @media screen and (max-width: 1004px) {
    &__bg-desktop {
      height: 80%;
      opacity: 0.2;
    }
    &__mockups {
      display: none;
    }
  }
  @media screen and (max-width: 598px) {
    align-items: center;
    text-align: center;
    &__logo {
      display: block;
      margin: 0 auto;
      margin-bottom: 2rem;
    }
    &__main-text {
      font-size: 2.4rem;
    }
    &__subtitle {
      padding: 0 1rem;
      margin-bottom: 2.5rem;
    }
  }
}
