@use "assets/scss/colors";
@use "assets/scss/functions";

.button {
  border: none;
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1rem;
  position: relative;
  overflow: hidden;
  z-index: 2;
  box-shadow: 2px 3px 15px -8px #000000c7;
  transition: box-shadow 0.3s ease-in-out;
  user-select: none;
  &:not(.text):before {
    top: 0;
    left: 0;
    content: "";
    position: absolute;
    width: 200%;
    height: 100%;
    background: functions.gradient(
      $primaryColor: colors.$primaryColor,
      $secondaryColor: lighten(colors.$secondaryColor, 20),
      $thirhColor: colors.$primaryColor
    );
    z-index: 1;
    transition: left 0.2s ease-in-out;
  }
  &:hover {
    box-shadow: -2px 3px 15px -8px #000000c7;
    &::before {
      left: -100%;
    }
  }
  &:disabled {
    cursor: not-allowed;
    box-shadow: none;
    &::before {
      left: -100%;
      opacity: 0.4;
    }
  }
  &__content {
    z-index: 3;
    position: relative;
    color: colors.$white;
  }
  &.small {
    padding: 0.4rem 1.2rem;
    font-size: 0.9rem;
  }
  &.block {
    display: block;
    width: 100%;
  }
  &.text {
    background-color: unset;
    box-shadow: unset;
    transition: background-color 0.2s ease-in-out;
    &:hover {
      background-color: darken(colors.$white, 5);
    }
    * {
      color: colors.$secondaryTextColor;
    }
  }
}
