@use "assets/scss/colors";
@use "assets/scss/breackpoints";

.footer {
  background: colors.$secondaryColor;
  padding: 1.5rem 0;
  color: colors.$ligthColor;
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @media only screen and (max-width: breackpoints.$md) {
      grid-template-columns: 1fr;
    }
    p {
      color: colors.$white;
      font-size: 0.8rem;
    }
    .link-group {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      height: 120px;
      list-style: none;
      .link {
        color: colors.$white;
        padding: 0.4rem;
        font-size: 0.8rem;
        line-height: 1.12rem;
        text-decoration: none;
      }
    }
    .logo-section {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      .socialNetworks {
        margin-top: 1.8rem;
        margin-bottom: 2.2rem;
        display: flex;
        gap: 0.2rem;
        &__icon {
          padding: 0.1rem;
          svg path {
            transition: all 0.3s ease-in-out;
          }
          &:hover svg path {
            fill: lighten(colors.$primaryColor, 20);
          }
        }
      }
      @media screen and (min-width: breackpoints.$sm) {
        margin-top: 1.5rem;
      }
    }
    .links-section {
      margin-bottom: 1.5rem;
      .link-group {
        align-items: center;
        .link {
          color: colors.$white;
          &:hover {
            color: lighten(colors.$primaryColor, 20);
          }
        }
      }
    }
    .request-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 1.5rem;
      .copyright {
        margin-top: 2rem;
        font-size: 0.8rem;
      }
    }
  }
  @media screen and (min-width: breackpoints.$md) {
    .container {
      .logo-section {
        align-items: flex-start;
      }
      .links-section {
        align-items: flex-start;
      }
      .request-section {
        align-items: flex-end;
      }
    }
  }
}
