@use "assets/scss/colors";
@use "assets/scss/variables";

@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@200;400;700&display=swap");

* {
  font-family: "Public Sans", Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body,
html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  background-color: colors.$ligthColor;
  position: relative;
}

// Scrollbar config
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner,
::-webkit-scrollbar {
  background: colors.$semiLigthColor;
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: lighten(colors.$primaryColor, 20);
}

// Selection config
::selection {
  background: fade-out(colors.$primaryColor, 0.5);
  color: colors.$white;
}

.container {
  max-width: variables.$maxWidth;
  margin: 0 auto;
  padding: 0 15px;
}

.decoration-none {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.main {
  padding-top: 80px;
}
