@use "assets/scss/colors";
@use "assets/scss/functions";
@use "assets/scss/breackpoints";

.reason {
  &__icon {
    width: 72px;
    height: 72px;
    background: functions.gradient(
      $primaryColor: lighten(colors.$primaryColor, 5),
      $secondaryColor: lighten(colors.$secondaryColor, 25),
      $deg: 135deg
    );
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    &__image {
      width: 35px;
    }
  }
  &__title {
    font-weight: 400;
    font-size: 1.4rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: colors.$primaryTextColor;
  }
  &__description {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.6rem;
    color: colors.$secondaryTextColor;
  }
  @media screen and (min-width: breackpoints.$sm) and (max-width: breackpoints.$md) {
    &__title {
      font-size: 1.35rem;
      line-height: 1.5rem;
    }
    &__description {
      font-size: 1rem;
      line-height: 1.5rem;
      margin-bottom: 2.5rem;
    }
  }
  @media screen and (max-width: breackpoints.$sm) {
    &__icon {
      margin: 0 auto;
    }
    &__title {
      font-size: 1.3rem;
      line-height: 1rem;
      text-align: center;
    }
    &__description {
      font-size: 1rem;
      line-height: 1.3rem;
      text-align: center;
      margin-bottom: 3rem;
    }
  }
}
