@use "assets/scss/colors";

.article {
  &__picture {
    border-radius: 0.5rem 0.5rem 0 0;
    overflow: hidden;
    width: 100%;
  }
  &__content {
    padding: 1rem 1rem;
  }
  &__author {
    color: colors.$secondaryTextColor;
    font-weight: 400;
    font-size: 0.7rem;
    line-height: 1.1rem;
  }
  &__title {
    color: colors.$primaryTextColor;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.37rem;
    transition: color 0.3s ease-in-out;
    margin: 0.2rem 0 0.8rem 0;
  }
  &__description {
    color: colors.$secondaryTextColor;
    font-weight: 400;
    font-size: 0.8rem;
  }
  &:hover {
    .article__title {
      color: lighten(colors.$primaryColor, 10);
    }
  }
}
